[Desktop Entry]
Name=LightPad
GenericName=Application Launcher
Comment=Grid application launcher with search
Categories=GNOME;GTK;Utility;
Exec=com.github.libredeb.lightpad
Icon=lightpad
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=false
